/* Switzer Font from CDNFonts */
@import url("https://fonts.cdnfonts.com/css/switzer");

/* Font variables */

/* Custom font classes */
.font-switzer {
  font-family: "Switzer";
  font-style: normal;
  font-weight: 900;
  src: local("Switzer"),
    url("https://fonts.cdnfonts.com/s/85792/Switzer-Thin.woff") format("woff");
}
